@charset "utf-8";

/* Archives
   ========================================================================== */
#archivelist {
	li {
		margin: 0 0 28px;
		padding: 0 0 28px;
		border-bottom: 1px solid #c8cfdd;
	}

	dl {
		clear: both;
		font-size: 0.75em;
	}

	dt {
		float: left;
		width: 125px;
	}

	dd {
		margin-left: 153px;
	}
}

@media (max-width: $breakPoint03){
	#archivelist li {
		margin: 0 0 1em;
		padding: 0 0 1em;

		dt {
			width: auto;
		}

		dd {
			margin-left: 100px;
		}
	}
}