@charset "utf-8";

//	設定

// ベースフォント
$baseFont: verdana, sans-serif;

// ページ全体の横幅
$baseWidth: 960px;

$columns: 12;    // 12 columns
$columnWidth: 60px;    // 12 columns = 720px
$gutterWidth: 20px;    // 11 gutters = 220px


// レスポンシブのブレークポイント
$breakPoint01: 480px;
$breakPoint02: ($columnWidth * $columns) + ($gutterWidth * ($columns - 1));


// ベーステキストカラー
$fontColor: #2d2d2d;
$logoColor: #f1f1f1;
$requiredColor: #e72727;

// ベースリンクカラー
$linkColor: #2f519c;
$linkColorVisited: #2f519c;
$linkColorHover: #1e3363;
$linkColorActive: #1e3363;

// 角丸の初期値
$brValue: 3px;
