@charset "utf-8";

/* Contact
   ========================================================================== */
.wpcf7 {
	.required {
		color: $requiredColor;
	}

	.wpcf7-not-valid-tip-no-ajax {
		color: $requiredColor;
		font-size: 0.9em;
		padding: 3px 0;
	}

	input {
		border: 1px solid #ccc;
		padding: 7px;
		width: 60%;
	}

	textarea {
		border: 1px solid #ccc;
		padding: 7px;
		width: 80%;
	}

	form {
		p {
			padding-bottom: 14px;
		}

		label {
			padding-bottom: 7px;
			display: inline-block;
		}

		.form-submit {
			padding-top: 10px;
		}

		.wpcf7-submit {
			background: #efefef;
			border: 1px solid #ccc;
			cursor: pointer;
			padding: 7px 14px;
			@include transition(all 0.2s ease);

			&:hover {
				background: #f7f7f7;
			}
		}
	}
}

@media (max-width: $breakPoint01) {
	.wpcf7 form .wpcf7-submit {
		width: 99%
	}
}