@charset "utf-8";

/* =========================================================
 home
========================================================= */

.home_header {
  display: flex;
  align-items: center;
  height: 100vh;
}
